<?xml version="1.0" encoding="utf-8"?>
<!--
https://go.microsoft.com/fwlink/?LinkID=208121.
-->
<Project>
  <PropertyGroup>
    <WebPublishMethod>ZipDeploy</WebPublishMethod>
    <PublishProvider>AzureWebSite</PublishProvider>
    <LastUsedBuildConfiguration>Release</LastUsedBuildConfiguration>
    <LastUsedPlatform>Any CPU</LastUsedPlatform>
    <SiteUrlToLaunchAfterPublish>http://watermark-func.azurewebsites.net</SiteUrlToLaunchAfterPublish>
    <LaunchSiteAfterPublish>false</LaunchSiteAfterPublish>
    <ResourceId>/subscriptions/67a136d2-2867-4135-b123-1db6e0448d10/resourceGroups/rg-test/providers/Microsoft.Web/sites/watermark-func</ResourceId>
    <UserName>$watermark-func</UserName>
    <_SavePWD>true</_SavePWD>
    <PublishUrl>https://watermark-func.scm.azurewebsites.net/</PublishUrl>
  </PropertyGroup>
</Project>